$c-orange: #e36e42;
$c-primary: #21355e;

$screen-sm: 600px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1200px;
$screen-xlbck: 1500px;
$screen-xxl: 1920px;

$f-textR: 300 1rem "aller", sans-serif;
$f-textB: 700 1rem "aller", sans-serif;
$f-title: 700 1.5rem "aller", sans-serif;
